.hot{
  color:#fb7299;
  font-size: 0.12rem;
  background: #f4f4f4;
  width: 0.48rem;
  height: 0.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:0.1rem;
  i{
    font-size:0.15rem;
  }
}