@font-face {
  font-family: "iconfont"; /* Project id 2957669 */
  src: url('iconfont.woff2?t=1638358759862') format('woff2'),
       url('iconfont.woff?t=1638358759862') format('woff'),
       url('iconfont.ttf?t=1638358759862') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinzhi:before {
  content: "\e634";
}

.icon-jinzhi1:before {
  content: "\e666";
}

.icon-star:before {
  content: "\e608";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-huancun:before {
  content: "\e62f";
}

.icon-huidaodingduan:before {
  content: "\e61d";
}

.icon-huidaodingduan1:before {
  content: "\e630";
}

.icon-hot-fill:before {
  content: "\e781";
}

.icon-paixingbang:before {
  content: "\e6c5";
}

.icon-play_rectangle:before {
  content: "\e6a9";
}

.icon-31sousuo:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e601";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-danmushu:before {
  content: "\e665";
}

.icon-bofangqi-danmugundongkai:before {
  content: "\e69f";
}

.icon-ic_userlevel_:before {
  content: "\e6cc";
}

.icon-ic_userlevel_1:before {
  content: "\e6cd";
}

.icon-ic_userlevel_2:before {
  content: "\e6ce";
}

.icon-ic_userlevel_3:before {
  content: "\e6cf";
}

.icon-ic_userlevel_4:before {
  content: "\e6d0";
}

.icon-ic_userlevel_5:before {
  content: "\e6d1";
}

.icon-bilibili:before {
  content: "\e609";
}

.icon-bilibili-line:before {
  content: "\e627";
}

