img {
  width: 100%;
}

.swipeBox {
  width: 100%;
  position: relative;
  overflow: hidden;
  .swipeImg{
    position: absolute;
    left:0;
    display:flex;

    & > * {
      //width: 100%;
      //position: absolute;
      //left: 100%
      //float:left;
    }

  }
}


