.card {
  display: flex;
  justify-content: space-between;
  .cardLeft {
    display: flex;
    .cardImg {
      border-radius: 50%;
      margin-right:0.07rem
    }

    .cardName {
        div{
          font-size: 0.15rem;
          color:#212121;
        }
      p{
        color:#999;
      }
    }
  }

  .cardRight {

  }
}