.collapse {
  padding: 0 0.14rem;

  .collapseTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      width: 2.7rem;
      font-weight: normal;
      font-size: 0.16rem;
      color: #212121;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-left: 0.06rem;
    }
    .btnCollapse{
      font-weight: bold;
    }
  }

  .collapseFooter{
    .collToolbar1{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .collUser{
        display: flex;
        align-items: center;

        img {
          width: 0.2rem;
          height: 0.2rem;
          border-radius: 50%;
          border: 0.5px solid #999;
          margin-right: 0.05rem;
        }

        b {
          font-weight: normal;
          font-size: 0.12rem;
        }
      }

    }
    .collBottom{
      width: 2.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      span {
        color: #999;
        font-size: 0.12rem;
        display: flex;
        align-items: center;

        i {
          color: #757575;
          font-size: 0.2rem;
          margin-right:5px;
        }
      }

    }
    .collToolbar2{

    }
  }
}
